<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaee.mapper.AwardMapper">
    <resultMap id="awardMap" type="com.javaee.po.Award">
        <id property="awardId" column="award_id"/>
        <result property="awardName" column="award_name"/>
        <result property="awardYear" column="award_year"/>
        <result property="actorName" column="actor_name"/>
    </resultMap>

    <select id="listAllAwards" resultMap="awardMap">
        SELECT a.*, ac.name as actor_name 
        FROM award a
        LEFT JOIN actor_award aa ON a.award_id = aa.award_id
        LEFT JOIN actor ac ON aa.actor_id = ac.actor_id
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.award_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY a.award_year DESC
    </select>

    <select id="getById" resultMap="awardMap">
        SELECT a.*, ac.name as actor_name 
        FROM award a
        LEFT JOIN actor_award aa ON a.award_id = aa.award_id
        LEFT JOIN actor ac ON aa.actor_id = ac.actor_id
        WHERE a.award_id = #{id}
    </select>

    <insert id="insert" parameterType="com.javaee.po.Award" useGeneratedKeys="true" keyProperty="awardId">
        INSERT INTO award (award_name, award_year)
        VALUES (#{awardName}, #{awardYear})
    </insert>

    <update id="update" parameterType="com.javaee.po.Award">
        UPDATE award
        SET award_name = #{awardName},
            award_year = #{awardYear}
        WHERE award_id = #{awardId}
    </update>

    <delete id="delete">
        DELETE FROM award WHERE award_id = #{id}
    </delete>

    <delete id="deleteByActorId">
        DELETE FROM award WHERE actor_id = #{actorId}
    </delete>

    <delete id="deleteByAwardId">
        DELETE FROM award WHERE award_id = #{awardId}
    </delete>           
</mapper> 